@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}
.fa-language{
    color: white;
    font-size: 4vh;
}
.navbar{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    color: white !important;
    padding: 5vh 0;
    max-width: 100%;
}
.navbar>a:first-of-type{
    color: white;
    font-size: 3vh;
    transition: 1s;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    margin-left: 5%;
    transition: text-decoration-color 300ms;
}
.navbar>a:first-of-type:hover{
    text-decoration-color: rgb(248, 248, 248);
}
.nav-link{
    font-size: 2vh;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}
header{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header h1{
    color: white;
    font-size: 10vh;
}
.text span{
    color: slategrey;
}
.text{
    padding: 5% 20% 0 20%;
    text-align: center;
    height: auto;
}
.languages{
    display: flex;
    height: 6vh;
    width: 30%;
    margin: auto;
    justify-content: space-between;
    font-size: 5vh;
    align-items: center;
}
.languages img{
    height: 90%;
}
.custom-shape-divider-bottom-1629434694 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629434694 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
}

.custom-shape-divider-bottom-1629434694 .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-bottom-1629435046 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629435046 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 132px;
}

.custom-shape-divider-bottom-1629435046 .shape-fill {
    fill: #FFFFFF;
}
.fa-js{
    color: #EAD41C;
}
.fa-css3-alt{
    color: #264DE4;
}
.fa-html5{
    color: #E54C21;
}
.fa-bootstrap{
    color: #8713F4;
}
.languages>*:hover{
    cursor: pointer;
}
footer{
    background-color: #0181F5;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
footer>h1{
    color: transparent;
    -webkit-text-stroke: 1px rgba(173, 170, 170, 0.9);
    font-size: 20vh;
}
.footerCover{
    position: absolute;
}
.footerCover>h1{
    color: white;
    font-size: 10vh;
}
.footerCover>a>button{
    background-color: transparent;
    color: white;
    padding: 2% 10%;
    border: 1px solid white;
    transition: .4s linear;
    outline: none;
}
.footerCover>a>button:hover{
    cursor: pointer;
    background-color: white;
    color: #0181F5;
}
@media screen and (max-width:700px) {
    header h1{
        color: white;
        font-size: 9vh;
    }
    .text{
        padding: 20% 0 0 0;
    }
    .languages{
        width: 50%;
    }
}